@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PlaywriteNZ';
  src: url('/fonts/PlaywriteNZ/PlaywriteNZ-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PlaywriteNZ';
  src: url('/fonts/PlaywriteNZ/PlaywriteNZ-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PlaywriteNZ';
  src: url('/fonts/PlaywriteNZ/PlaywriteNZ-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PlaywriteNZ';
  src: url('/fonts/PlaywriteNZ/PlaywriteNZ-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
